@media (max-width: 500px) {
    body {
      background-color: rgb(215, 215, 13);
    }
  }
  .heading{
    margin-left: 20%;
    margin-top: 6%;
  }
  .masala{
    margin-left: 20%;
    
  }
  .quality{
    margin-left:30% ;
  }
  .img{
    margin-left: 55%;
    margin-top: -6%;
  }
 .items{
    display: flex;
    justify-content: space-between;
     
   
}
/* #five{
    background-color: yellow;
} */
#signin{
    padding: 10px;
    border-radius: 20px;
    background-color: yellow;
}

.dishes{
    display: flex;
    justify-content: space-between;
    
}
#tandoor{
    width: 100%;
    height: 200px;
}
#frutdish{
    width: 100%;
    height: 200px;
}
#fillet{
    width: 100%;
    height: 200px;
}
#pizza{
    width: 100%;
    height: 200px;
}
#burger{
    width: 30%;
    height: 200px; 
} 
#salad{
    width: 30%;
    height: 200px;
}
#poco{
    width: 20%;
    height: 200px;
}
#items{
    display: flex;
    justify-content: space-between;
     
}
#ad{
padding: 20px;
margin: 2%;
border-radius: 20px;
background-color: yellow;
}
#add{
padding: 20px;
border-radius: 20px;
background-color: yellow;
margin:2% ;
}
#addcar{
padding: 20px;
margin: 2%;
border-radius: 20px;
background-color: yellow;
}
#addcart{
padding: 20px;
border-radius: 20px;
margin: 2%;
background-color: yellow;
}
#intro{
    display: flex;
    justify-content: space-between;

}
.quality{
    display: flex;
    justify-content: space-between;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.order{
    background-color: rgb(228, 228, 38);
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
    
}
#seemenu{
    margin: 0;
    padding: 0;
    border-radius :;
    background-color:yellow;
}
/* .special{
    display: flex;
    justify-content: ;
} */
#house{
    width: 200px;
    padding-right: 30%;
}
#discount{
    width:300px;
    height:40% ;
}
#icox{
    width: 300px;
    height: 30%;

}
#bike{
   width: 300px;
   height: 40%;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.subscribe{
    padding: 10px;
    margin-left: 10%;
    background-color: yellow;
    border-radius: 50px;
}
#base{
    background-color: yellow;
}
